
	<div class="baner-inicio">
		<div class="marg">
			<h1>Asociación de Estudiantes Mexicanos en Corea del Sur<br>
			<h2>Mexican Student Association</h2>
			</h1>
		</div>
	</div>


<div class="main" id="one">
	<div class="container">
		<div class="content">
			<% @descriptions.limit(1).each do |description| %>
			<h1><%= description.name %></h1>

		  	<%= simple_format(description.text) %>
			
			<% end %>
		</div>
	</div>
</div>

<div class="main" id="sec2">
	<div class="container">
		<div class="parallax">
			
		</div>
	</div>
</div>

<div class="main" id="two">
	<div class="container">
		<div class="content">
			<div class="col">
			<div class="not-text">
				<h1>Noticias:</h1>
				<br>
				<% @announcements.order("id desc").limit(3).each do |announcement| %>
				<h2><%= link_to announcement.title, announcement %></h2>

				<p>
			  	<%= announcement.description %>
				</p>

				<% end %>
				
				<div class="pad"><a href="/announcements"><button class="btn1">Ver Más</button></a></div>
			</div>
			</div>
			<div class="col">
				<h1>Actividades:</h1>
				<br>
				
	        <% @activities.order("id desc").limit(3).each do |activity| %>
				
					<div class="inside-img">
						<%= link_to image_tag(activity.photo1), activity %>
					</div>

					<div class="inside-text">
						<h2><%= link_to activity.name,  activity %></h2>

						<p>
					  	<%= activity.description %>
						</p>

				  	</div>

				<% end %>
				
				<div class="pad"><a href="/activities"><button class="btn2">Ver Más</button></a></div>
			</div>
		</div>
	</div>
</div>

<div class="main" id="sec3">
	<div class="container">
		<div class="parallax">
			
		</div>
	</div>
</div>

<% if false %>
<div class="main" id="two">
	<div class="container">
		<div class="content">
			<div class="col">
				<h1>Consejos:</h1>
				<br>
				<% @prearrivals.order("id desc").limit(3).each do |prearrival| %>
				
					<div class="inside-img">
						<%= link_to image_tag(prearrival.image), prearrival %>
					</div>

					<div class="inside-text">
						<h2><%= link_to prearrival.title, prearrival %></h2>
						<p>
					  	<%= prearrival.description %>
						</p>
					</div>

				<% end %>

				<div class="pad"><a href="/prearrivals"><button class="btn1">Ver Más</button></a></div>
			</div>
			<div class="col">
				<h1>Vida cotidian:</h1>
				<br>
				<% @lives.order("id desc").limit(3).each do |life| %>
				
					<div class="inside-img">
						<%= link_to image_tag(life.image1), life %>
					</div>

					<div class="inside-text">
						<h2><%= link_to life.title, life %></h2>

						<p>
					  	<%= life.description %>
						</p>

				  	</div>

				<% end %>

				<div class="pad"><a href="/lives"><button class="btn2">Ver Más</button></a></div>
			</div>
		</div>
	</div>
</div>

<div class="main" id="sec4">
	<div class="container">
		<div class="parallax">
			
		</div>
	</div>
</div>
<% end %>

<div class="main" id="three">
	<div class="container">
		<div class="content">
			<h1>Contacto</h1>
			<p><b>Mail: msa.southkorea@gmail.com</b>
			<br><br>
			<h2>Déjanos un mensaje.</h2>
			<br>
			<form action="//formspree.io/southkorea@gmail.com" method="POST">
			    <input class="input" type="text" name="name" placeholder="Nombre">
			    <input class="input" type="text" name="_replyto" placeholder="Correo" >
				<textarea class="input" name="message" rows="5" placeholder="Mensaje"></textarea >
			    <input class="submit" type="submit" value="Enviar" onclick="check();">
			</form>	
		</div>
	</div>
</div>