<div class="main2" id="two">
  <div class="container">
    <div class="content">
      <div class="list2">
        <div class="baner-link">
            <h1>Relacionados</h1>
        </div>


      <% @links.each do |link| %>
          
          <div class="inside-text">
            <h2><%= link.title %></h2>
            <h4><%= link_to link.link, link.link %></h4>
          </div>

          <div class="edit">
          <% if current_user %>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <hr class="third">
            <% end %>
          </div>

      <% end %>

        <div class="new">
          <% if current_user %>
            <%= link_to 'New Link', new_link_path %>
          <% end %>
          <div class="digg_pagination">
          <%= will_paginate @jobs %>
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>